/ {
	aliases {
        intfs0 = &intfs0;
	};

	chosen {
		zephyr,tracing-uart = &usart3;
	};

	fstab {
		compatible = "zephyr,fstab";

		intfs0: intfs0 {
			compatible = "zephyr,fstab,littlefs";
			read-size = <1>;
			prog-size = <32>;
			cache-size = <256>;
			lookahead-size = <32>;
			block-cycles = <512>;
			partition = <&intfs0_partition>;
			mount-point = "/intfs0";
			automount;
		};
	};
};

// &flash0 {
// 	reg = < 0x8000000 0x300000 >;
// 	ranges = < 0x0 0x8000000 0x300000 >;

// 	partitions {
// 		#address-cells = <1>;
// 		#size-cells = <1>;
// 		ranges;

// 		intfs0_partition: partition@180000 {
// 			compatible = "zephyr,mapped-partition";
// 			label = "intfs0_storage";
// 			reg = <0x180000 DT_SIZE_M(1)>;
// 		};
// 	};
// };

&quadspi {
	pinctrl-0 = <&quadspi_clk_pf10 &quadspi_bk2_ncs_pc11
		     &quadspi_bk2_io0_pe7 &quadspi_bk2_io1_pe8
		     &quadspi_bk2_io2_pe9 &quadspi_bk2_io3_pe10>;
	pinctrl-names = "default";

	flash-id = <2>;
	status = "okay";

	mx25l25645g: qspi-nor-flash@0 {
		compatible = "st,stm32-qspi-nor";
		reg = <0>;
		size = <DT_SIZE_M(256)>; /* 256 Mbits */
		qspi-max-frequency = <50000000>;
		cs-high-time = <3>; /* >= 30 ns */
		reset-gpios = <&gpiod 3 GPIO_ACTIVE_LOW>;
		reset-gpios-duration = <1>;
		spi-bus-width = <4>;
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			intfs0_partition: partition@0 {
				label = "intfs0_storage";
				reg = <0 DT_SIZE_M(8)>;
			};
		};
	};
};
